* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #F5F5F5;
}

header {
    background-color: #2D3E50;
    color: white;
    min-height: 150px;
    text-align: center;
    padding-top: 30px;
}

header h1 {
    font-size: 3em;
}

header p {
    margin: auto;
    font-size: 1.3em;
    padding: 15px 0px 20px 0;
    line-height: 1.5em;
    max-width: 500px;
}

nav{
    background-color: #2D3E50;
    padding: 10px 0px 10px 20px;
    font-weight: bolder;
}

nav > a{
    color: white;
    text-align: left;
    text-decoration: none;
    display: inline-block;
    margin-right: 10px;
}

nav > a:hover{
    background-color: #3C4F63;
    padding: 5px 10px;
    border-radius: 10px;
    transition-duration: 0.3s;
}

main > article {
    background-color: #333333;
    color: white;
    margin: auto;
    padding: 20px 20px 30px 20px;
    min-width: 300px;
    max-width: 1000px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

main > article > h2 {
    font-size: 2em;
    padding: 10px 0px;
}

main > article > p {
    text-align: justify;
    text-indent: 30px;
    font-size: 1em;
    line-height: 1.5em;
    margin: 15px 0px;
}

aside{
    padding: 0px 10px 10px 10px;
    margin: 0px -10px 0px -10px;
    background-color: white;
    color: black;
    border-radius: 15px 15px 10px 10px;
}

aside > h3{
    margin: 0px -10px 0px -10px;
    background-color: #2D3E50;
    color: white;
    border-radius: 10px 10px 0px 10px;
    padding: 10px;
}

aside > p{
    text-align: justify;
    text-indent: 30px;
    font-size: 1em;
    line-height: 1.5em;
    margin: 15px 0px;
}

aside > ol{
    text-indent: 30px;
    list-style-type: "\2714\00A0\00A0";
    list-style-position: inside;
    columns: 2;
    padding-bottom: 20px;
}

footer{
    text-align: center;
    color: white;
    background-color: #78C6A3;
    margin-top: 20px;
    padding: 5px;
}

footer a{
    text-decoration: none;
    color: white;
    font-weight: bolder;
}

footer a:hover{
    text-decoration: underline;
}

.ajusteimg {
    display: block;
    margin: auto;
    max-width: 100%;
}

.linksespeciais{
    text-decoration: none;
    color: white;
    font-weight: bolder;
}

.linksespeciais:hover{
    background-color: #78C6A3;
    padding: 5px;
    border-radius: 10px;
    transition-duration: 0.3s;
}

.linksespeciais:after{
    content: "\1F517";
}

